docfx.json                          @microsoftdocs/officedocs-admin
.openpublishing.build.ps1           @microsoftdocs/officedocs-admin
.openpublishing.publish.config.json @microsoftdocs/officedocs-admin
CODEOWNERS                          @microsoftdocs/officedocs-admin
.acrolinx-config.edn                @microsoftdocs/officedocs-admin

# You can also use email addresses if you prefer.
/OfficeOnlineServer/  @JasonH-Msft @santanu-wac
/OfficeOfficeWebAppsServer/  @JasonH-Msft @santanu-wac
